<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1> -->
    <!-- <p>Welcome to <%= title %></p> -->
    <video id="example_video_1" class="video-js vjs-default-skin"
      controls preload="auto" width="640" height="264"
      poster="http://video-js.zencoder.com/oceans-clip.png"
      data-setup='{"example_option":true}'>
       <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
       <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
       <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
       <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>



    <script type="text/javascript">
      var vid = document.getElementById('example_video_1');
      vid.height = window.innerHeight;
      vid.width = window.innerWidth;
      window.onresize = function(){
        vid.height = window.innerHeight;
        vid.width = window.innerWidth;
      }
      // console.log(vid);
       function getTime() {
         // body...
         console.log(vid.currentTime);
         return vid.currentTime;
       }
      document.getElementById('example_video_1')
          .addEventListener('click',getTime, false);







      // var myPlayer = Video('example_video_1');
      // var whereYouAt = myPlayer.currentTime();
      // var x=0;
      // while (x < 100){
      //   console.log(vid.currentTime);
      //   x++;
      // }
    // document.createElement('video');document.createElement('audio');document.createElement('track');
    </script>
  </body>
</html>
