<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="../javascripts/moviecont.js"></script>
  </head>
  <body>
    <div id="init-area"></div>



    <script id="home-movie" type="text/template">
      <div class="main-buttons padd-top"></div>
      <div class="main-buttons">
        <h1 class='mid'>Begin the Film</h1>
        <div class="low-padd-top"></div>
        <button id="start_button" class="mid">Start</button>
        <br />
        <div class="low-padd-top"></div>
        <input id="join_roomid" class="mid" type="text" placeholder="Enter Code Here"/>
        <br>
        <button id="join_movie" class="mid">Join Movie</button>
      </div>


    </script>


    <script id="play-movie" type="text/template">

      <h1 id="roomID">Room ID Goes Here</h1>

      <video id="example_video_1" class="video-js vjs-default-skin"
      controls preload="auto" width="640" height="264"
      poster="../images/baseimg.png"
      data-setup='{"example_option":true}'>

      <source src="../videos/output.mp4" type='video/mp4' />
      <!-- <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' /> -->
      <!-- <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' /> -->
      <!-- <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' /> -->

      <track kind="metadata" mode="showing" src="../captions/meta.vtt" ></track>
      <!-- <track kind="captions" src="../captions/example.vtt" srclang="en" label="English"></track> -->

      <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
      </video>
    </script>



  </body>
</html>
