<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/messages.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="head-elem">
      <h1>Sherlock Holmes</h1>
    </div>
    <div class="container">


    <ul id ="msg-list">
    </ul>

  </div>



  <script type="text/javascript">
    var socket = io();
    var id = <%= id_num %>;

    console.log("joinID value: " +  id  );


    socket.emit('join room', id);
    socket.on('show message', function(text){
        console.log("I am trying to log: " + text);
        var obj = document.getElementById('msg-list');
        var li = document.createElement("li");
        li.className = "bubble";
        li.innerHTML = "<p>" + text +"</p>";
        obj.appendChild(li);
      });

  </script>

  </body>
</html>
