<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <!-- // <script src="../javascripts/moviecont.js"></script>
    // <script src="../javascripts/video_manipulation.js"></script> -->
  </head>
  <body>
    <h1><%= title %></h1>
    <h1>Your idnumber is <%= id_num %></h1>

    <p id="msg">Your text here</p>

  <script type="text/javascript">
    var socket = io();
    // a lot of handlers that should probably be in their own file honestly.

    var id =<%= id_num %>;

    console.log("joinID value: " +  id  );

    socket.emit('join room', id);
    // socket.emit('join room', joinID);

    socket.on('finished joining', function(text){

      console.log("I am trying to log: " + text);
      var obj = document.getElementById('msg');
      obj.innerHTML = text;

      socket.on('show message', function(text){

        console.log("I am trying to log: " + text);
        var obj = document.getElementById('msg');
        obj.innerHTML = text;
      });

      // socket.on('waiting', function(displayTxt){
      //   console.log("I am trying to log: " + displayTxt);
      //   var obj = document.getElementById('msg');
      //   obj.innerHTML = displayTxt;
      // });

    //   socket.on('move', function(id){
    // io.sockets.in(gameId).emit('update board', id)
    // });

    });


    // socket.on('track', function(displayTxt){
    //   console.log("I am trying to log: " + displayTxt);
    //   var obj = document.getElementById('msg');
    //   obj.innerHTML = displayTxt;
    // });

  </script>

  </body>
</html>
