<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/messages.css' />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 id="msg">You are in room: </h1>
    </div>


    <ul id ="msg-list">
    </ul>



  <script type="text/javascript">
    var socket = io();
    var id = <%= id_num %>;

    console.log("joinID value: " +  id  );

    var roomAlert = document.getElementById('msg');
    roomAlert.innerHTML = roomAlert.innerHTML + id;

    socket.emit('join room', id);
    socket.on('finished joining', function(text){
    socket.on('show message', function(text){
        console.log("I am trying to log: " + text);
        var obj = document.getElementById('msg-list');
        var li = document.createElement("li");
        li.appendChild(document.createTextNode(text));
        obj.appendChild(li);
      });
    });

  </script>

  </body>
</html>
