<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/messages.css' />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="head-elem">
      <h1 id="msg">You are in room: </h1>
    </div>
    <div class="container">


    <ul id ="msg-list">
      <!-- <li class="bubble">
        <p>Message one</p>
      </li> -->
    </ul>

  </div>



  <script type="text/javascript">
    var socket = io();
    var id = <%= id_num %>;

    console.log("joinID value: " +  id  );

    var roomAlert = document.getElementById('msg');
    roomAlert.innerHTML = roomAlert.innerHTML + id;

    socket.emit('join room', id);
    socket.on('show message', function(text){
        console.log("I am trying to log: " + text);
        var obj = document.getElementById('msg-list');
        var li = document.createElement("li");
        li.className = "bubble";
        li.innerHTML = "<p>" + text +"</p>";
        // li.appendChild(document.createTextNode(text));
        obj.appendChild(li);
      });

  </script>

  </body>
</html>
