body {
  /*padding: 50px;*/
  margin: 0;
  font: 14px 'Raleway', sans-serif;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  background-color: #111;
  width: 100%;
}

h1, a {
  color: #c8e5f0;
  font-weight: 400;
}

p{
  color: #fff;

}

.padd-top{
  padding-top: 200px;
}

.low-padd-top{
  padding-top: 80px;
}

.mid{
  margin: 0 auto;
  display: block;
  text-align: center;
}

.main-buttons{
  width: 500px;
  margin: 0 auto;
}

.inner-buttons{
  margin: 0 auto;
  display: block;
}

#start_button, #join_movie{
  border: 2px solid #00e0e7;
  border-radius: 50%;
  width: 100px;
  background-color: rgba(0,0,0,0);
  color:  #c8e5f0;
}

#start_button{
  height: 100px;
}

#start_button:hover {
  background-color: #00e0e7;
  color: #222;
}


#join_roomid{
  background-color: rgba(255, 0, 0, 0);
  border: 0px;
  border-bottom: 1px solid #00e0e7;
}

#join_movie{
  border-radius: 5px;
  height: 40px
}

#join_movie:hover {
  background-color: #00e0e7;
  color: #222;
}


/*.vjs-play-progress{
  background-color: #D02e2e;
}*/
