body {
  /*padding: 50px;*/
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #111;
}

h1, a {
  color: #00B7FF;
}


/*.vjs-play-progress{
  background-color: #D02e2e;
}*/
